---
import Layout from '../layouts/Layout.astro';
import H1 from "../components/H1.astro";
import Main from "../components/Main.astro";
---

<Layout title="No encontrado">
    <Main>
        <H1 text="404 - Not found"/>
        <p>¿No odias cuando pasa esto?</p>
    </Main>
</Layout>