<header class="bg-sepia-50 text-white flex justify-between items-center px-24 py-5 max-sm:px-5 max-sm:py-10
 w-full mx-auto">

    <a href="/" class="flex items-center gap-x-4">
        <img src="/images/logo.png"
             width={140}
             height={140}
             alt="semanarama_logo"
             class="aspect-thumbnail object-cover"
        />
    </a>
    <nav>
        <ul class="flex gap-x-8">
            <li><a href="/" class="font-bold">Inicio</a></li>
            <li><a href="/movies" class="font-bold">Películas</a></li>
            <li><a href="/tv" class="font-bold">Series</a></li>
            <li><a href="/comming" class="font-bold">Por estrenar</a></li>
        </ul>
    </nav>

</header>

<style>
    /* Colores sepia personalizados */
    .bg-sepia-50 {
        background-color: #603828; /* Ajusta este valor según tus preferencias */
        background-size: cover;
        font-family: 'Roboto Thin', sans-serif;
        text-align: center; /* Centra el texto */
    }


</style>
